/*************font*****************/
@font-face {
  font-family: ArchivoBlack-Regular;
  src: url('./Archivo_Black/ArchivoBlack-Regular.ttf');
}
* {
  font-family: ArchivoBlack-Regular, sans-serif;
}
/*************footer*****************/
body {
  background: #fbfbfd;
}

.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 60px 0 60px;
  position: relative;
  overflow-x: hidden;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #282c34;
  padding: 27px 0;
}
/*************footer End*****************/
